/*Comment:  This selector is targeting the <nav> element */

nav {
 width: 100%;
 border: solid 5px #c99c4f;
 text-align: center;
 background: #c99c4f;
}

/*This selector is targeting the <ul> element within the <nav> element*/
/*This ensures that any other lists on the page are not impacted by this*/

nav ul {
 display: inline-block; /*Comment:  this tells the browser to display the ul element inline (side by side), but it allows the list to retain it's block-level characteristics - more on that later.*/
 margin: 0px; /*Comment: zero pixels of space in the margin (the space around an element.*/
 padding: 0px; /*Comment: zero pixels of space between the element's border and its content*/
}

/*This selector is targeting the <li> elements that are within the <nav> element*/

nav li {
 float: left;
 list-style-type: none;  /*Comment:  this tells the browser to remove the bullet points that would normally be displayed in an unordered list.*/
}

/*This selector is targeting the links.  These are the <a> elements that are within the within the <nav> element */

nav a {
 color: #000;
 text-decoration: none;  /*Comment:  this tells the browser to remove the underline that is normally displayed under a link.*/
 display: block; /*the <a> tags are inline but in this case we need to be able to set a width so let's make them appear as block level*/
 width: 100px;
 padding: 8px 0px;
}

/*This selector targets the "hover" pseudo-class of the <a> element.  This css style will be activated when the mouse moves over the link.*/ 
nav a:hover {
 background-color: #e1d7b9;
 color: #fff;
}
body{
    width:1000px;
    margin: auto;
}